{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>Planetário de Brasília</title>
</head>
<body>
    <main class="main">
        <div class="banner">

            
            <h1 class="banner-title">História do Planetário</h1>
            
            <p class="banner-content">
                🌌 O Planetário de Brasília celebra 51 anos com 
                programação especial! 🚀✨ No dia 15 de março (sábado), 
                das 09h às 17h30, o Planetário de Brasília abre suas portas 
                para uma experiência imersiva e gratuita, cheia de ciência, 
                tecnologia e diversão para todas as idades! 🪐 O que te espera?
            </p>
            
            <button class="button-gradient">Saber Mais</button>
        </div>
    </main>

    
</body>
</html>
